[submodule "src/Repository"]
	path = src/Repository
	url = git@github.com:Leo450/mstaff-micro__shared__repositories.git
	branch = main
[submodule "src/Entity"]
	path = src/Entity
	url = git@github.com:Leo450/mstaff-micro__shared__entities.git
	branch = main
